html,
body {
  font-family: 'Amazon Ember', 'Helvetica', 'sans-serif';
  margin: 0;
}
a {
  color: #ff9900;
}
h1 {
  font-weight: 300;
}
hr {
  height: 1px;
  background: lightgray;
  border: none;
}
.app {
  width: 100%;
}
.app-header {
  color: white;
  text-align: center;
  background: linear-gradient(30deg, #f90 55%, #ffc300);
  width: 100%;
  margin: 0 0 1em 0;
  padding: 3em 0 3em 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.app-body {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.app-body button {
  background-color: #ff9900;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  padding: 1em;
  border: none;
}
.app-body button:hover {
  opacity: 0.8;
}